/* breakpoints */
$tablet: 680px;
$desktop: 1024px;
$bigass: 1280px;

$grids: 12;
$grids: add-grid(3 at $tablet);
$grids: add-grid(5 at $desktop);
$gutters: 0;

body, html {
    height: 100%;
    background: $black;

    overflow: hidden;
}


#nav {
    position: fixed;
    
    top: 0;
    left: 0;

    @include layoutWidthTransition();

    @include grid-span(2, 1);

    
    ul {
        left: -900%;
    }

    @include breakpoint($tablet) {
        @include grid-span(1, 1);

        ul {
            left: 0;
        }
    }

    @include breakpoint($desktop) {
        @include grid-span(1, 1);
    }

    .show-menu & {
        ul {
            left: 0;
        }
        width: 100%;
    }
}

#content {
    height: 100%;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    @include layoutWidthTransition();

    @include grid-span(10,3);

    @include breakpoint($tablet) {
        @include grid-span(2,2);
    }

    @include breakpoint($desktop) {
        @include grid-span(4,2);
    }
}
